# Виртуальное окружение
venv/

# Локальные файлы конфигурации
.env

# Директория с изображениями
images/

# Большие файлы
data/full_dataset.csv
images.zip

# PyCharm и другие IDE
.idea/
*.pyc
__pycache__/

# Директория с логами
/logs

/api_google_test
*.json
/table.py
/download_clip_model.py
/scripts/llm/test.py
/api/sightseeing-bot-459ef19a2290.json